/* header */

header {
    position: sticky;
    top: 0;
}

.pre-header {
    background-color: black;
}

.pre-header img {
    width: 100px;
}

p {
    font-weight: 600;
}

/* button and background color */

.ms-rounded {
    border-radius: 20px;
}

.ms-rounded:hover {
    width: 95%;
    padding: 2px;
    border: 2px solid blue;
    opacity: .5;
}

.ms-bg-btn-access {
    background-color: #363636;
}

.ms-bg-btn-buy {
    background-color: #cd3d0f;
}

.ms-bg-btn-plus {
    background-color: #d9dadc;
}

.btn:hover {
    background-color: #00439c;
}

/* banner  e background */

.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ms-height-jumbo {
    height: 700px;
}

.ms-bg-jumbo {
    background-image: url(../img/jumbo-bg.png);
}

.ms-bg-banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.ms-bg-black {
    background-color: #1f1f1f;
}

.ms-bg-play-plus {
    background-color: #bebcbb;
}

.ms-bg-play-now {
    background-color: #161c3b;
}

/* image */

div img {
    width: 100%;
    object-fit: cover;
}

.ms-description {
    height: 100%;
}

.ms-img-title {
    width: 20rem;
    height: 5rem;
    object-fit: contain;
}

.ms-object {
    object-fit: contain;
}

.ms-height-img img {
    height: 80%;
}

div.mini-card img {
    width: 70%;
    opacity: .5;
    transform: scale(1);
}

div.mini-card p {
    height: 30px;
}

div.mini-card:hover {
    border-bottom: 2px solid blue;
}

div.mini-card:hover img {
    transform: scale(1.1);
    opacity: 1;
    transition: .5s;
}

@media screen and (max-width: 768px) {
    div.mini-card:hover {
        border-bottom: none;
    }

    div.mini-card:hover img {
        border-bottom: 2px solid blue;
    }

}

/* footer */

footer {
    background-color: #00439c;
}

.ms-logo-footer {
    filter: brightness(0) invert(1);
}

.ms-footer-globe {
    width: 1rem;
}

.ms-footer-logo,
.ms-logo-footer {
    width: 10rem;
}

footer ul li {
    padding: .3rem;
}