/* header */

.pre-header {
    background-color: black;
}

.pre-header img {
    width: 100px;
}

.ms-btn-border {
    border-radius: 20px;
    color: white;
}

.ms-btn-bg {
    background-color: #363636;
}

/* jumbotron */